In [90]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import random
import json
import requests
# Import API key
import api_keys

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [91]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
mylats =  []
mylngs =  []
# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
        mylats.append(lat_lng[0])
        mylngs.append(lat_lng[1])
        
# Print the city count to confirm sufficient count

c_df = pd.DataFrame({'City':cities,'lats':mylats,'lngs':mylngs}, dtype='int64')
c_df.reset_index(inplace=True)
print(len(c_df.City))

607

In [92]:
c_df.head()

   index         City  lats  lngs
0      0      qaanaaq    89   -81
1      1   chokurdakh    89   144
2      2        alihe    50   123
3      3     khatanga    85    98
4      4  tuktoyaktuk    80  -128

## Perform API Calls

In [164]:
# Dependencies
import requests
import time
import urllib.parse
import json
from addict import Dict
lats= []
lons=[]
lats.append(c_df['lats'])
lons.append(c_df['lngs'])
api_key = api_keys.api_key
index = []

url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial"+api_key
apis = []
jsons = []
x=1
# y=(x+1)
response_json1 = []
w = {'temp': [t], 'pressure': [p],'humidity':[h],'temp_min':[tmin],'temp_max':[tmax],'clouds':[c],'ws':[ws],'wd':[wd]}
w_df = pd.DataFrame.from_dict(w)
for x in range(len(lats)): #CHANGE BACK TO range(len(cities))
    rurl = (url+ f'&lat={mylats[x]}&lon={mylngs[x]}')
#     url1 = 
    post_response = requests.get(rurl)
    response_json1.append(post_response.json())
    data = response_json1[0]
    weather = data['main']
    t = temp
    p = weather['pressure']
    h = weather['humidity']
    tmin = weather['temp_min']
    tmax = weather['temp_max']
    clouds = data['clouds']
    c = clouds['all']
    wind = data['wind']
    ws = wind['speed']
    wd = wind['deg']
    data = {'temp': [t], 'pressure': [p],'humidity':[h],'temp_min':[tmin],'temp_max':[tmax],'clouds':[c],'ws':[ws],'wd':[wd]}
    text_file = open("Output.txt", "w")
    text_file.write(f'Procssing city number {[x+1]},at longitude{mylngs[x]},latitude{mylats[x]}')
    text_file.close()
    
##CHECK OUT CLASS WORK BUT DATAFRAME FROM DICT SHOULD DO IT
print(t,p,h,tmin,tmax,c,ws, wd)
data = {'temp': [t], 'pressure': [p],'humidity':[h],'temp_min':[tmin],'temp_max':[tmax],'clouds':[c],'ws':[ws],'wd':[wd]}
w_df

76.59 1040.15 90 14.89 14.89 80 6.42 238.003

    temp  pressure  humidity  temp_min  temp_max  clouds    ws       wd
0  76.59   1040.15        90     14.89     14.89      80  6.42  238.003

In [154]:
response_json1
data = response_json1[0]
weather = data['main']
t = temp
p = weather['pressure']
h = weather['humidity']
tmin = weather['temp_min']
tmax = weather['temp_max']
clouds = data['clouds']
c = clouds['all']
wind = data['wind']
ws = wind['speed']
wd = wind['deg']

# # Retrieve the video's title
# title = data_item["coord"]
# print(response_json1['coord'][1])
print(t,p,h,tmin,tmax,c,ws, wd)#print("Title: ", title)

76.59 1040.15 90 14.89 14.89 80 6.42 238.003

In [122]:
# OpenWeatherMap API Key
from string import Template
api_key = api_keys.api_key
time = '1540189097'
myapis = []
# Starting URL for Weather Map API Call
# for i in c_df.index:
    
# myapis
# API KEY CHANGED
# #Set params:
# time = '1540189097'

# i = 0
# for row in c_df:
#     print(f'http://history.openweathermap.org/data/2.5/history/city?lat={c_df["lats"]}&lon={c_df["lngs"]}&APPID=b1c11a19b0e2d8adfc8876a5cd34b6a2')
# # # He said his name is Fred and he is 42 years old.row[0])
# # # Call historical data by city name.
# # API call:
# http://history.openweathermap.org/data/2.5/history/city?lat={row[2]}&lon={row[3]}&type=hour&start={time}&end={time}

# http://history.openweathermap.org/data/2.5/history/city?lat={lat}&lon={lon}&type=hour&start={start}&cnt={1}

# Parameters:
# lat, lon coordinates of the location of your interest

# type type of the call, keep this parameter in the API call as 'hour'

# start start date (unix time, UTC time zone), e.g. start=1369728000

# end end date (unix time, UTC time zone), e.g. end=1369789200

# cnt amount of returned data (one per hour, can be used instead of 'end')

print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=b1c11a19b0e2d8adfc8876a5cd34b6a2

In [123]:
c_df.head()

   index         City  lats  lngs
0      0      qaanaaq    89   -81
1      1   chokurdakh    89   144
2      2        alihe    50   123
3      3     khatanga    85    98
4      4  tuktoyaktuk    80  -128